services:
  superset:
    image: jawadrafique/jawad-superset:latest
    container_name: jawad-superset
    ports:
      - "8088:8088"
    env_file:
      - .env
    volumes:
      - ./volumes/superset:/app/superset_home
      - ./superset_config.py:/app/pythonpath/superset_config.py
    networks:
      - app-tier

  mysql:
    container_name: jawad-mysql
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: "superset"
      MYSQL_USER: "user"
      MYSQL_PASSWORD: "password"
      MYSQL_ROOT_PASSWORD: "password"
    ports:
      - "3306:3306"
    volumes:
      - ./volumes/mysql:/var/lib/mysql
    networks:
      - app-tier

networks:
  app-tier:
    driver: bridge
